# can't use mem_limit in a 3.x docker-compose file in non swarm mode
# see https://github.com/docker/compose/issues/4513

version: "2.4"
services:
  whoogle-search:
    image: ${WHOOGLE_IMAGE:-benbusby/whoogle-search}
    container_name: whoogle-search
    restart: unless-stopped
    pids_limit: 50
    mem_limit: 512mb
    memswap_limit: 512mb
    # user debian-tor from tor package
    user: whoogle
    security_opt:
      - no-new-privileges
    cap_drop:
      - ALL
    tmpfs:
      - /config/:size=10M,uid=927,gid=927,mode=1700
      - /var/lib/tor/:size=15M,uid=927,gid=927,mode=1700
      - /run/tor/:size=1M,uid=927,gid=927,mode=1700
    environment:
      - WHOOGLE_CONFIG_COUNTRY=CH
      - WHOOGLE_CONFIG_SEARCH_LANGUAGE=lang_en
    env_file:
      - .env
    ports:
      - ${whoogle_port}:5000
    networks:
      - dockernet

networks:
  dockernet:
    external: true
